.OneToFifty-Container {
    width: 600px;
    height: 800px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("background.png");
    background-size: cover;
    
}


.Board-Container {
    width: 400px;
    height: 400px;
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

}
.Cell-Container {
    border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    
}

.Start-Button {
    margin-top: 30px;
    width: 100px;
    height: 50px;
}

.Timer-Container {
    margin-top: 30px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.Timer-Front {
    text-align: right;
}

.Timer-Back {
    width: 1em;
}


