body {
    text-align: center;
    background-color: black;
    
  }

.OneToFifty-Container {
    margin: auto;
    width: 700px;
    height: 1000px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("background.png");
    background-size: contain;
    border-radius: 20px;
    
}


.Board-Container {
    width: 400px;
    height: 400px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color:rgb(65, 65, 221);
 
    border: 3px solid black;
    border-radius: 10%;
    
    
    
 

}
.Cell-Container {
    
    margin: 5px;
  
    display: flex;
    
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight:800;
    cursor: pointer;
    background-color: #f4cd09;
    color: white;
    /* -webkit-text-stroke: 2px rgb(180, 105, 0); */
    box-shadow: 5px 5px 4px 0px rgba(185, 77, 14, 1), inset 5px 5px 4px 0px rgb(214, 229, 81);
    text-shadow: 3px 3px 3px rgba(185, 77, 14, 1);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     border-radius: 50%;
    

    
   
    
}

.Start-Button {
    margin-top: 30px;
    width: 100px;
    height: 50px;
}

.Timer-Container {
  
    margin-bottom: 30px;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    background-color: white;
    border: 3px solid black;
}

.Timer-Front {
    text-align: right;
}

.Timer-Back {
    width: 1em;
}


